<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
            <h2>Tasks</h2>
            {%if task %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in task %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.assignee}}</td>
                        <td>{{item.start_dates}}</td>
                        <td>{{item.due_date}}</td>
                        <tf>{{item.iscompleted|yesno}}</tf>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
</body>

</html>
